services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: Scheduler
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5

  server:
    container_name: distributed-scheduler
    build:
      context: .
      dockerfile: app/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    # volumes:
    #   - .:/app
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_started
    
  scheduler:
    build:
      context: .
      dockerfile: app/Dockerfile
    command: uv run python -m app.scheduler
    # volumes:
    #   - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis

  worker:
    build:
      context: .
      dockerfile: app/Dockerfile
    command: uv run python -m app.worker
    # volumes:
    #   - .:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis


volumes:
  db_data: